.logo {
  width: 40px;
  height: 40px;
}

* {
  font-family: 'Press Start 2P', cursive;
  color: var(--textColor);
  transition: 300ms ease-out;
}

body {
  background-color: var(--footerBackground);
}

.header {
  background-color: var(--headerBackground);
}

.main {
  background-color: var(--mainBackground);
}

.footer {
  background-color: var(--footerBackground);
}

.button {
  padding: 5px;
  user-select: none;
  cursor: pointer;
  border: 2px solid var(--textColor);
  border-radius: 13%;
}

.mt-6 {
  margin-top: 100px !important;
}

p {
  font-size: 12px;
  text-align: center;
}

h2 {
  margin: 0px;
}

.icon {
  border: none;
}